button {
  height: 45px;
  width: 100px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #6a9113;
  color: white;
  font-size: 17px;
  border-radius: 10px;
}

* {
  font-family: "Press Start 2P", cursive;
}

h1 {
  text-align: center;
  padding-top: 20px;
  color: #141517;
  height: 100px;
  top: 0px;
}

h3 {
  height: 25px;
  text-align: center;
  padding: 5px;
}

h4 {
  height: 25px;
  padding: 20px;
  margin-bottom: 10px;
  width: 450px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  background-image: linear-gradient(#6a9113, #141517);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  background-color: white;
  margin-top: 50px;
  border: 5px solid #6a9113;
  border-radius: 30px;
  height: 700px;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.game-grid {
  height: 400px;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

div {
  height: 40px;
  width: 40px;
}

.invaders {
  background-color: #141517;
  border-radius: 50%;
}

.entity {
  background-color: #6a9113;
}

.laser {
  background-color: darkgreen;
}