.main {
    height: 45px;
    width: 150px;
    padding: 10px;
    border: 2px solid $primary-color;
    box-shadow: 0px 0px 5px 5px $secondary-color;
    color: $primary-color;
    font-size: 17px;
    border-radius: 10px;
    background-color: transparent;
}

.main:hover {
    box-shadow: 0px 0px 10px 10px $secondary-color;
}

.refresh {
    display: none;
    font-size: 10px;
    width: 100px;
}

.control {
    height: 45px;
    color: $tertiary-color;
    background-color: transparent;
    text-align: center;
    padding: 5px;
    box-shadow: none;
    border: transparent;
    display: none;
}

.left, .right {
    font-size: 60px;
    margin-bottom: 6vh;
}

@media only screen and (max-width: 375px) {
    .main {
        height: 20px;
        padding-top: 5px;
        padding: 5px;
        font-size: 10px;
        border-radius: 10px;
        background-color: transparent;
        margin-bottom: 5px;
        box-shadow: 0px 0px 2px 2px $secondary-color;
    }
    
    .refresh {
        font-size: 10px;
    }
    
    .control {
        padding: 3px;
    }

    .fire{
        font-size: 10px;
    }
    
    .left, .right {
        font-size: 40px;
        margin-bottom: 6vh;
        padding: 0 7px;
    }
}