button {
    height: 45px;
    width: 100px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: $primary-color;
    color: $tertiary-color;
    font-size: 17px;
    border-radius: 10px;
}