* {
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: $secondary-color;
    height: 80px;
    top: 0px;
    color: $primary-color;
}

h4 {
    height: 25px;
    padding: 10px;
    width: 450px;
    text-align: center;
    color: rgb(90, 230, 251);
    display: none;
}

@media only screen and (max-width: 375px) {
    h1 {
        padding-top: 10px;
        height: 50px;
        font-size: 20px;
    }
    
    h4 {
        height: 20px;
        padding: 10px;
        width: 450px;
        font-size: 10px;
        display: none;
    }
}