.game__result {
    height: 25px;
    padding: 10px;
    width: 450px;
    text-align: center;
    color: rgb(90, 230, 251);
    display: none;
}

@media only screen and (max-width: 500px) {       
    .game__result {
        height: 20px;
        padding: 10px;
        width: 450px;
        font-size: 10px;
        display: none;
    }
}